
:root {
  --palette-background-default: #303030;
  --palette-primary-main: #90caf9;
  --palette-secondary-main: #f48fb1;
  --palette-warning-main: #ff9800;
  --palette-text-primary: #fff;
  --palette-text-secondary: rgba(255, 255, 255, 0.7);
}

*,
*::before,
*::after {
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
   /* 1rem = 10px */
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  font-size: 1.6rem;
  color: var(--palette-text-primary);
  background-color: var(--palette-background-default);
}

form,
input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  text-decoration: none;
}

button {
  cursor: pointer;
}
